argcomplete==3.6.2
blinker==1.9.0
cfgv==3.4.0
charset-normalizer==3.4.3
click==8.2.1
colorama==0.4.6
commitizen==4.8.4
decli==0.6.3
distlib==0.4.0
filelock==3.19.1
Flask==3.1.2
gunicorn==23.0.0
identify==2.6.14
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
nodeenv==1.9.1
packaging==25.0
platformdirs==4.4.0
pre_commit==4.3.0
prompt_toolkit==3.0.51
python-dotenv==1.1.1
PyYAML==6.0.2
questionary==2.1.1
termcolor==3.1.0
tomlkit==0.13.3
virtualenv==20.34.0
wcwidth==0.2.13
Werkzeug==3.1.3
