{% extends "base.html" %}

{% block title %} Sobre {% endblock %}

{% block content %}
<h3 class="title-h2">Sobre mim</h3>
<section class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non odio eu magna tincidunt aliquam in nec
        mauris.
        Praesent placerat, diam elementum iaculis mollis, ligula nibh lobortis sem, ut pretium dui orci at est. Integer
        vehicula elit nulla. Vivamus a neque quam. Fusce et ornare risus. Interdum et malesuada fames ac ante ipsum
        primis
        in faucibus. Cras convallis massa quis ante tempor facilisis a non erat. Maecenas ultricies lacinia diam.
    </p>
    <p>
        Curabitur euismod hendrerit mi, a luctus ante blandit quis. Duis purus tellus, scelerisque et luctus eget,
        vestibulum eget ex. Fusce sit amet tempus nunc. Curabitur finibus vestibulum tincidunt. Fusce id cursus felis,
        quis
        accumsan ante. Quisque nec vulputate enim. Sed pulvinar ante urna, in ornare risus pharetra eget. Pellentesque
        aliquet non justo non fringilla. Sed dui felis, scelerisque non efficitur eu, sagittis a lacus. Suspendisse vel
        ante
        facilisis, tincidunt ligula in, laoreet mi. Fusce nec arcu ac felis posuere sollicitudin.
    </p>
</section>
{% endblock %}