<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{ %block title% }Vitória de Oliveira - Portfólio{% endblock %}</title>

    <link rel="stylesheet" href="{{url_for('static', filename='css/reset.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/mobile.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/desktop.css')}}">
    <link rel="icon" href="{{url_for('static', filename='img/favicon.ico')}}" type="image/x-icon">
</head>

<body>

</body>

</html>