<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Vitória de Oliveira - Portfólio{% endblock %}</title>

    <link rel="stylesheet" href="{{url_for('static', filename='css/reset.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/mobile.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/desktop.css')}}">
    <link rel="icon" href="{{url_for('static', filename='img/favicon.ico')}}" type="image/x-icon">
</head>

<body>
    <header id="header">
        <h1 class="main-title">Vitória de Oliveira</h1>
    </header>

    <nav id="nav">
        <ul class="navbar">
            <li><a href="{{ url_for('main.index') }}">página inicial</a></li>
            <li><a href="{{ url_for('main.about') }}">sobre</a></li>
            <li><a href="{{ url_for('main.projects') }}">projetos</a></li>
            <li><a href="#">curriculo</a></li>
            <li><a href="{{ url_for('main.contact') }}">contato</a></li>
        </ul>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer id="footer">
        <h3 class="title-h2">Social</h3>
        <ul class="social-media">
            <li><a href="https://github.com/vitoriadeo" target="_blank">github</a></li>
            <li><a href="https://www.linkedin.com/in/vitoriadeo/" target="_blank">linkedin</a></li>
            <li><a href="https://x.com/deovitoriam" target="_blank">x/twitter</a></li>
        </ul>
        <p class="copy">&#xA9;
            <script>document.write(new Date().getFullYear());</script> Vitória de Oliveira
        </p>
    </footer>
</body>

</html>