{% extends "base.html" %}

{% block title %} {{ super() }} - Contato {% endblock %}

{% block content %}
<section class="content">
    <h2 class="title-h2">Entre em contato!</h2>

    <p>Você pode me achar nas redes sociais linkadas no final dessa página, pelo email vitoriadeo @ yahoo.com ou usar o
        formulário abaixo.</p>

    <form method="POST" action="/contact" class="contact">
        {{ formulario.hidden_tag() }}
        {{ formulario.crsf_token }}
        <div class="item-form">
            {{ formulario.name.label }} {{ formulario.name() }}
        </div>
        <div class="item-form">
            {{ formulario.email.label }} {{ formulario.email() }}
        </div>
        <div class="item-form">
            {{ formulario.subject.label }} {{ formulario.subject() }}
        </div>
        <div class="item-form">
            {{ formulario.message.label }} {{ formulario.message() }}
        </div>
        <div class="button">
            {{ formulario.submit }}
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </form>
</section>
{% endblock %}