{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}

<section class="description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque cursus, metus et efficitur tristique, odio elit
    semper justo, at auctor sapien dui ac turpis. Fusce fringilla non sem vitae placerat. Fusce vel elit nec dolor
    blandit interdum. Praesent quis congue dolor. Donec tincidunt feugiat ex non mattis.
</section>
<section class="stack">
    <h3 class="title-h3">Minha stack</h3>

    <img class="img-stack" src="{{url_for('static', filename='img/python.png')}}" alt="">
    <img class="img-stack" src="{{url_for('static', filename='img/postgresql.png')}}" alt="">
    <img class="img-stack" src="{{url_for('static', filename='img/flask.png')}}" alt="">
    <img class="img-stack" src="{{url_for('static', filename='img/git.png')}}" alt="">
    <img class="img-stack" src="{{url_for('static', filename='img/html.png')}}" alt="">
    <img class="img-stack" src="{{url_for('static', filename='img/css.png')}}" alt="">
</section>

{% endblock %}