{% extends "base.html" %}

{% block title %} Projetos {% endblock %}

{% block content %}
<section class="content">
    <h2 class="title-h2">Meus projetos</h2>

    <div class="projects">
        <img src="" alt="">
        <p>
            Vivamus a neque quam. Fusce et ornare risus. Interdum et malesuada fames ac ante ipsum primis in
            faucibus.
            Cras convallis massa quis ante tempor facilisis a non erat. Maecenas ultricies lacinia diam.
        </p>
        <ul class="tech-stack">
            <li>tech 1</li>
            <li>tech 2</li>
            <li>tech 3</li>
            <li>tech 4</li>
        </ul>
    </div>

    <div class="projects">
        <img src="" alt="">
        <p>
            Vivamus a neque quam. Fusce et ornare risus. Interdum et malesuada fames ac ante ipsum primis in
            faucibus.
            Cras convallis massa quis ante tempor facilisis a non erat. Maecenas ultricies lacinia diam.
        </p>
        <ul class="tech-stack">
            <li>tech 1</li>
            <li>tech 2</li>
            <li>tech 3</li>
            <li>tech 4</li>
        </ul>
    </div>
</section>
{% endblock %}